@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --purple-50 : hsl(260, 100%, 95%);
    --purple-300 : hsl(264, 82%, 80%);
    --purple-500 : hsl(263, 55%, 52%);
    --white : hsl(0, 0%, 100%);
    --grey-100 : hsl(214, 17%, 92%);
    --grey-200 : hsl(0, 0%, 81%);
    --grey-400 : hsl(224, 10%, 45%);
    --grey-500 : hsl(217, 19%, 35%);
    --dark-blue : hsl(219, 29%, 14%);
    --black : hsl(0, 0%, 7%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 13px;
    font-family: "Barlow Semi Condensed", sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
}

.testimonial__grid {
    margin: 5rem 0;
    display: grid;
    gap: 2rem;

    grid-template-columns: minmax(0, 320px); 
    justify-content: center;
}

.testimonial-card {
    padding: 2rem;
    border-radius: 0.75rem;

    box-shadow: 0 0 0.5rem var(--grey-200);
    overflow: hidden;
}

.card-1 {
    background-color: var(--purple-500);
    color: var(--white);
}

.card-1 .user__photo {
    border: 2px solid var(--purple-300);
}

.card-2 {
    background-color: var(--grey-500);
    color: var(--white);
}

.card-2 .user__tag {
    color: var(--grey-200);
}

.card-3 {
    color: var(--grey-500);
}

.card-3 .user__name {
    font-weight: 600;
}

.card-4 {
    background-color: var(--dark-blue);
    color: var(--grey-200);
}

.card-4 .user__photo {
    border: 2px solid var(--purple-300);
}

.card-5 .user__name {
    font-weight: 600;
    color: var(--grey-500);
}

.card-5 .user__tag {
    color: var(--grey-400);
}

.card-5 .user__lead {
    color: var(--grey-500);
    font-weight: 600;
}

.profile {
    display: flex;
    gap: 1rem;
    align-items: center;
    /* padding-bottom: 1rem; */
    padding: 0.5rem 0;
}

.user__photo {
    height: 32px;
    border-radius: 16px;
}

.user__name {
    font-size: 1rem;
    font-weight: 500;
}

.user__tag {
    font-size: 0.85rem;
}

.user__lead {
    padding: 1rem 0;
    font-size: 1.75rem;
    font-weight: 500;
}

.user__quote {
    font-size: 1.125rem;
    line-height: 1.5;
    padding: 0.5rem 0;
}

.icon {
    display: none;
}

@media screen and (min-width: 1024px) {
    .testimonial__grid {
        gap: 2rem;

        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: 
        "area-1 area-1 area-2 area-5"
        "area-3 area-4 area-4 area-5";

        margin: 2rem;
        max-width: 1200px;
        
    }

    .card-1 { grid-area: area-1; position: relative; z-index: 999;}
    .card-2 { grid-area: area-2; }
    .card-3 { grid-area: area-3; }
    .card-4 { grid-area: area-4; }
    .card-5 { grid-area: area-5; }

    .icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
        padding-right: 5rem;
    }
}